body {
  background-color: white;
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 25px;
}
main {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}
h1 {
  font-size: 28px;
  text-align: center;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
li {
  padding: 10px;
}
li:nth-child(odd) {
  background-color: #e3e3e3;
  border-radius: 6px;
}
form {
  border-radius: 6px;
  margin: 0;
  padding: 10px;
  padding-bottom: 40px;
  border-radius: 3px;
}
input {
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
}
#initials {
  width: 20%;
}
#message {
  width: 78%;
}
button {
  border: none;
  background: #18aa8d;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin: 15px 0 15px 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
